Documentation-SOAPUI/Film Category/film_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><!--Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><definitions targetNamespace="http://api.sakilaapi.iti.com/" name="FilmCategoryEndpointService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.sakilaapi.iti.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://api.sakilaapi.iti.com/" schemaLocation="film_category.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAllFilmCategory">
    <part name="parameters" element="tns:getAllFilmCategory"/>
  </message>
  <message name="getAllFilmCategoryResponse">
    <part name="parameters" element="tns:getAllFilmCategoryResponse"/>
  </message>
  <message name="updateExistingFilmCategory">
    <part name="parameters" element="tns:updateExistingFilmCategory"/>
  </message>
  <message name="updateExistingFilmCategoryResponse">
    <part name="parameters" element="tns:updateExistingFilmCategoryResponse"/>
  </message>
  <message name="createNewFilmCategory">
    <part name="parameters" element="tns:createNewFilmCategory"/>
  </message>
  <message name="createNewFilmCategoryResponse">
    <part name="parameters" element="tns:createNewFilmCategoryResponse"/>
  </message>
  <message name="deleteFilmCategoryById">
    <part name="parameters" element="tns:deleteFilmCategoryById"/>
  </message>
  <message name="deleteFilmCategoryByIdResponse">
    <part name="parameters" element="tns:deleteFilmCategoryByIdResponse"/>
  </message>
  <message name="getFilmCategoryById">
    <part name="parameters" element="tns:getFilmCategoryById"/>
  </message>
  <message name="getFilmCategoryByIdResponse">
    <part name="parameters" element="tns:getFilmCategoryByIdResponse"/>
  </message>
  <portType name="FilmCategoryEndpoint">
    <operation name="getAllFilmCategory">
      <input wsam:Action="http://api.sakilaapi.iti.com/FilmCategoryEndpoint/getAllFilmCategoryRequest" message="tns:getAllFilmCategory"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/FilmCategoryEndpoint/getAllFilmCategoryResponse" message="tns:getAllFilmCategoryResponse"/>
    </operation>
    <operation name="updateExistingFilmCategory">
      <input wsam:Action="http://api.sakilaapi.iti.com/FilmCategoryEndpoint/updateExistingFilmCategoryRequest" message="tns:updateExistingFilmCategory"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/FilmCategoryEndpoint/updateExistingFilmCategoryResponse" message="tns:updateExistingFilmCategoryResponse"/>
    </operation>
    <operation name="createNewFilmCategory">
      <input wsam:Action="http://api.sakilaapi.iti.com/FilmCategoryEndpoint/createNewFilmCategoryRequest" message="tns:createNewFilmCategory"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/FilmCategoryEndpoint/createNewFilmCategoryResponse" message="tns:createNewFilmCategoryResponse"/>
    </operation>
    <operation name="deleteFilmCategoryById">
      <input wsam:Action="http://api.sakilaapi.iti.com/FilmCategoryEndpoint/deleteFilmCategoryByIdRequest" message="tns:deleteFilmCategoryById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/FilmCategoryEndpoint/deleteFilmCategoryByIdResponse" message="tns:deleteFilmCategoryByIdResponse"/>
    </operation>
    <operation name="getFilmCategoryById">
      <input wsam:Action="http://api.sakilaapi.iti.com/FilmCategoryEndpoint/getFilmCategoryByIdRequest" message="tns:getFilmCategoryById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/FilmCategoryEndpoint/getFilmCategoryByIdResponse" message="tns:getFilmCategoryByIdResponse"/>
    </operation>
  </portType>
  <binding name="FilmCategoryEndpointPortBinding" type="tns:FilmCategoryEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getAllFilmCategory">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateExistingFilmCategory">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createNewFilmCategory">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteFilmCategoryById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getFilmCategoryById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="FilmCategoryEndpointService">
    <port name="FilmCategoryEndpointPort" binding="tns:FilmCategoryEndpointPortBinding">
      <soap:address location="http://localhost:8080/sakila-api/ws/film_category"/>
    </port>
  </service>
</definitions>