Documentation-SOAPUI/Language/language_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><!--Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><definitions targetNamespace="http://api.sakilaapi.iti.com/" name="LanguageEndpointService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.sakilaapi.iti.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://api.sakilaapi.iti.com/" schemaLocation="language.xsd"/>
    </xsd:schema>
  </types>
  <message name="createLanguage">
    <part name="parameters" element="tns:createLanguage"/>
  </message>
  <message name="createLanguageResponse">
    <part name="parameters" element="tns:createLanguageResponse"/>
  </message>
  <message name="deleteLanguageById">
    <part name="parameters" element="tns:deleteLanguageById"/>
  </message>
  <message name="deleteLanguageByIdResponse">
    <part name="parameters" element="tns:deleteLanguageByIdResponse"/>
  </message>
  <message name="getAllLanguage">
    <part name="parameters" element="tns:getAllLanguage"/>
  </message>
  <message name="getAllLanguageResponse">
    <part name="parameters" element="tns:getAllLanguageResponse"/>
  </message>
  <message name="updateLanguage">
    <part name="parameters" element="tns:updateLanguage"/>
  </message>
  <message name="updateLanguageResponse">
    <part name="parameters" element="tns:updateLanguageResponse"/>
  </message>
  <message name="getLanguageById">
    <part name="parameters" element="tns:getLanguageById"/>
  </message>
  <message name="getLanguageByIdResponse">
    <part name="parameters" element="tns:getLanguageByIdResponse"/>
  </message>
  <portType name="LanguageEndpoint">
    <operation name="createLanguage">
      <input wsam:Action="http://api.sakilaapi.iti.com/LanguageEndpoint/createLanguageRequest" message="tns:createLanguage"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/LanguageEndpoint/createLanguageResponse" message="tns:createLanguageResponse"/>
    </operation>
    <operation name="deleteLanguageById">
      <input wsam:Action="http://api.sakilaapi.iti.com/LanguageEndpoint/deleteLanguageByIdRequest" message="tns:deleteLanguageById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/LanguageEndpoint/deleteLanguageByIdResponse" message="tns:deleteLanguageByIdResponse"/>
    </operation>
    <operation name="getAllLanguage">
      <input wsam:Action="http://api.sakilaapi.iti.com/LanguageEndpoint/getAllLanguageRequest" message="tns:getAllLanguage"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/LanguageEndpoint/getAllLanguageResponse" message="tns:getAllLanguageResponse"/>
    </operation>
    <operation name="updateLanguage">
      <input wsam:Action="http://api.sakilaapi.iti.com/LanguageEndpoint/updateLanguageRequest" message="tns:updateLanguage"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/LanguageEndpoint/updateLanguageResponse" message="tns:updateLanguageResponse"/>
    </operation>
    <operation name="getLanguageById">
      <input wsam:Action="http://api.sakilaapi.iti.com/LanguageEndpoint/getLanguageByIdRequest" message="tns:getLanguageById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/LanguageEndpoint/getLanguageByIdResponse" message="tns:getLanguageByIdResponse"/>
    </operation>
  </portType>
  <binding name="LanguageEndpointPortBinding" type="tns:LanguageEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createLanguage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteLanguageById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllLanguage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateLanguage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLanguageById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="LanguageEndpointService">
    <port name="LanguageEndpointPort" binding="tns:LanguageEndpointPortBinding">
      <soap:address location="http://localhost:8080/sakila-api/ws/language"/>
    </port>
  </service>
</definitions>