Documentation-SOAPUI/Payment/payment_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><!--Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><definitions targetNamespace="http://api.sakilaapi.iti.com/" name="PaymentEndpointService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.sakilaapi.iti.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://api.sakilaapi.iti.com/" schemaLocation="payment.xsd"/>
    </xsd:schema>
  </types>
  <message name="createPayment">
    <part name="parameters" element="tns:createPayment"/>
  </message>
  <message name="createPaymentResponse">
    <part name="parameters" element="tns:createPaymentResponse"/>
  </message>
  <message name="updatePayment">
    <part name="parameters" element="tns:updatePayment"/>
  </message>
  <message name="updatePaymentResponse">
    <part name="parameters" element="tns:updatePaymentResponse"/>
  </message>
  <message name="deletePaymentById">
    <part name="parameters" element="tns:deletePaymentById"/>
  </message>
  <message name="deletePaymentByIdResponse">
    <part name="parameters" element="tns:deletePaymentByIdResponse"/>
  </message>
  <message name="getAllPayment">
    <part name="parameters" element="tns:getAllPayment"/>
  </message>
  <message name="getAllPaymentResponse">
    <part name="parameters" element="tns:getAllPaymentResponse"/>
  </message>
  <message name="getPaymentById">
    <part name="parameters" element="tns:getPaymentById"/>
  </message>
  <message name="getPaymentByIdResponse">
    <part name="parameters" element="tns:getPaymentByIdResponse"/>
  </message>
  <portType name="PaymentEndpoint">
    <operation name="createPayment">
      <input wsam:Action="http://api.sakilaapi.iti.com/PaymentEndpoint/createPaymentRequest" message="tns:createPayment"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/PaymentEndpoint/createPaymentResponse" message="tns:createPaymentResponse"/>
    </operation>
    <operation name="updatePayment">
      <input wsam:Action="http://api.sakilaapi.iti.com/PaymentEndpoint/updatePaymentRequest" message="tns:updatePayment"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/PaymentEndpoint/updatePaymentResponse" message="tns:updatePaymentResponse"/>
    </operation>
    <operation name="deletePaymentById">
      <input wsam:Action="http://api.sakilaapi.iti.com/PaymentEndpoint/deletePaymentByIdRequest" message="tns:deletePaymentById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/PaymentEndpoint/deletePaymentByIdResponse" message="tns:deletePaymentByIdResponse"/>
    </operation>
    <operation name="getAllPayment">
      <input wsam:Action="http://api.sakilaapi.iti.com/PaymentEndpoint/getAllPaymentRequest" message="tns:getAllPayment"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/PaymentEndpoint/getAllPaymentResponse" message="tns:getAllPaymentResponse"/>
    </operation>
    <operation name="getPaymentById">
      <input wsam:Action="http://api.sakilaapi.iti.com/PaymentEndpoint/getPaymentByIdRequest" message="tns:getPaymentById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/PaymentEndpoint/getPaymentByIdResponse" message="tns:getPaymentByIdResponse"/>
    </operation>
  </portType>
  <binding name="PaymentEndpointPortBinding" type="tns:PaymentEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createPayment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updatePayment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deletePaymentById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllPayment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPaymentById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PaymentEndpointService">
    <port name="PaymentEndpointPort" binding="tns:PaymentEndpointPortBinding">
      <soap:address location="http://localhost:8080/sakila-api/ws/payment"/>
    </port>
  </service>
</definitions>