Documentation-SOAPUI/Film Actor/film_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><!--Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><definitions targetNamespace="http://api.sakilaapi.iti.com/" name="FilmActorEndpointService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.sakilaapi.iti.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://api.sakilaapi.iti.com/" schemaLocation="film_actor.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAllFilmActor">
    <part name="parameters" element="tns:getAllFilmActor"/>
  </message>
  <message name="getAllFilmActorResponse">
    <part name="parameters" element="tns:getAllFilmActorResponse"/>
  </message>
  <message name="createFilmActor">
    <part name="parameters" element="tns:createFilmActor"/>
  </message>
  <message name="createFilmActorResponse">
    <part name="parameters" element="tns:createFilmActorResponse"/>
  </message>
  <message name="getFilmActorById">
    <part name="parameters" element="tns:getFilmActorById"/>
  </message>
  <message name="getFilmActorByIdResponse">
    <part name="parameters" element="tns:getFilmActorByIdResponse"/>
  </message>
  <message name="updateFilmActor">
    <part name="parameters" element="tns:updateFilmActor"/>
  </message>
  <message name="updateFilmActorResponse">
    <part name="parameters" element="tns:updateFilmActorResponse"/>
  </message>
  <message name="deleteFilmActorById">
    <part name="parameters" element="tns:deleteFilmActorById"/>
  </message>
  <message name="deleteFilmActorByIdResponse">
    <part name="parameters" element="tns:deleteFilmActorByIdResponse"/>
  </message>
  <portType name="FilmActorEndpoint">
    <operation name="getAllFilmActor">
      <input wsam:Action="http://api.sakilaapi.iti.com/FilmActorEndpoint/getAllFilmActorRequest" message="tns:getAllFilmActor"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/FilmActorEndpoint/getAllFilmActorResponse" message="tns:getAllFilmActorResponse"/>
    </operation>
    <operation name="createFilmActor">
      <input wsam:Action="http://api.sakilaapi.iti.com/FilmActorEndpoint/createFilmActorRequest" message="tns:createFilmActor"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/FilmActorEndpoint/createFilmActorResponse" message="tns:createFilmActorResponse"/>
    </operation>
    <operation name="getFilmActorById">
      <input wsam:Action="http://api.sakilaapi.iti.com/FilmActorEndpoint/getFilmActorByIdRequest" message="tns:getFilmActorById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/FilmActorEndpoint/getFilmActorByIdResponse" message="tns:getFilmActorByIdResponse"/>
    </operation>
    <operation name="updateFilmActor">
      <input wsam:Action="http://api.sakilaapi.iti.com/FilmActorEndpoint/updateFilmActorRequest" message="tns:updateFilmActor"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/FilmActorEndpoint/updateFilmActorResponse" message="tns:updateFilmActorResponse"/>
    </operation>
    <operation name="deleteFilmActorById">
      <input wsam:Action="http://api.sakilaapi.iti.com/FilmActorEndpoint/deleteFilmActorByIdRequest" message="tns:deleteFilmActorById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/FilmActorEndpoint/deleteFilmActorByIdResponse" message="tns:deleteFilmActorByIdResponse"/>
    </operation>
  </portType>
  <binding name="FilmActorEndpointPortBinding" type="tns:FilmActorEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getAllFilmActor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createFilmActor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getFilmActorById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateFilmActor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteFilmActorById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="FilmActorEndpointService">
    <port name="FilmActorEndpointPort" binding="tns:FilmActorEndpointPortBinding">
      <soap:address location="http://localhost:8080/sakila-api/ws/film_actor"/>
    </port>
  </service>
</definitions>