Documentation-SOAPUI/Address/address_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><!--Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><definitions targetNamespace="http://api.sakilaapi.iti.com/" name="AddressEndpointService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.sakilaapi.iti.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://api.sakilaapi.iti.com/" schemaLocation="address.xsd"/>
    </xsd:schema>
  </types>
  <message name="updateAddress">
    <part name="parameters" element="tns:updateAddress"/>
  </message>
  <message name="updateAddressResponse">
    <part name="parameters" element="tns:updateAddressResponse"/>
  </message>
  <message name="createAddress">
    <part name="parameters" element="tns:createAddress"/>
  </message>
  <message name="createAddressResponse">
    <part name="parameters" element="tns:createAddressResponse"/>
  </message>
  <message name="deleteAddressById">
    <part name="parameters" element="tns:deleteAddressById"/>
  </message>
  <message name="deleteAddressByIdResponse">
    <part name="parameters" element="tns:deleteAddressByIdResponse"/>
  </message>
  <message name="getAddressById">
    <part name="parameters" element="tns:getAddressById"/>
  </message>
  <message name="getAddressByIdResponse">
    <part name="parameters" element="tns:getAddressByIdResponse"/>
  </message>
  <message name="getAllAddress">
    <part name="parameters" element="tns:getAllAddress"/>
  </message>
  <message name="getAllAddressResponse">
    <part name="parameters" element="tns:getAllAddressResponse"/>
  </message>
  <portType name="AddressEndpoint">
    <operation name="updateAddress">
      <input wsam:Action="http://api.sakilaapi.iti.com/AddressEndpoint/updateAddressRequest" message="tns:updateAddress"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/AddressEndpoint/updateAddressResponse" message="tns:updateAddressResponse"/>
    </operation>
    <operation name="createAddress">
      <input wsam:Action="http://api.sakilaapi.iti.com/AddressEndpoint/createAddressRequest" message="tns:createAddress"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/AddressEndpoint/createAddressResponse" message="tns:createAddressResponse"/>
    </operation>
    <operation name="deleteAddressById">
      <input wsam:Action="http://api.sakilaapi.iti.com/AddressEndpoint/deleteAddressByIdRequest" message="tns:deleteAddressById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/AddressEndpoint/deleteAddressByIdResponse" message="tns:deleteAddressByIdResponse"/>
    </operation>
    <operation name="getAddressById">
      <input wsam:Action="http://api.sakilaapi.iti.com/AddressEndpoint/getAddressByIdRequest" message="tns:getAddressById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/AddressEndpoint/getAddressByIdResponse" message="tns:getAddressByIdResponse"/>
    </operation>
    <operation name="getAllAddress">
      <input wsam:Action="http://api.sakilaapi.iti.com/AddressEndpoint/getAllAddressRequest" message="tns:getAllAddress"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/AddressEndpoint/getAllAddressResponse" message="tns:getAllAddressResponse"/>
    </operation>
  </portType>
  <binding name="AddressEndpointPortBinding" type="tns:AddressEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="updateAddress">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createAddress">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteAddressById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAddressById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllAddress">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AddressEndpointService">
    <port name="AddressEndpointPort" binding="tns:AddressEndpointPortBinding">
      <soap:address location="http://localhost:8080/sakila-api/ws/address"/>
    </port>
  </service>
</definitions>