Documentation-SOAPUI/Inventory/inventory_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><!--Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><definitions targetNamespace="http://api.sakilaapi.iti.com/" name="InventoryEndPointService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.sakilaapi.iti.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://api.sakilaapi.iti.com/" schemaLocation="inventory.xsd"/>
    </xsd:schema>
  </types>
  <message name="deleteInventoryById">
    <part name="parameters" element="tns:deleteInventoryById"/>
  </message>
  <message name="deleteInventoryByIdResponse">
    <part name="parameters" element="tns:deleteInventoryByIdResponse"/>
  </message>
  <message name="getInventoryById">
    <part name="parameters" element="tns:getInventoryById"/>
  </message>
  <message name="getInventoryByIdResponse">
    <part name="parameters" element="tns:getInventoryByIdResponse"/>
  </message>
  <message name="getAllInventory">
    <part name="parameters" element="tns:getAllInventory"/>
  </message>
  <message name="getAllInventoryResponse">
    <part name="parameters" element="tns:getAllInventoryResponse"/>
  </message>
  <message name="updateExistingInventory">
    <part name="parameters" element="tns:updateExistingInventory"/>
  </message>
  <message name="updateExistingInventoryResponse">
    <part name="parameters" element="tns:updateExistingInventoryResponse"/>
  </message>
  <message name="createNewInventory">
    <part name="parameters" element="tns:createNewInventory"/>
  </message>
  <message name="createNewInventoryResponse">
    <part name="parameters" element="tns:createNewInventoryResponse"/>
  </message>
  <portType name="InventoryEndPoint">
    <operation name="deleteInventoryById">
      <input wsam:Action="http://api.sakilaapi.iti.com/InventoryEndPoint/deleteInventoryByIdRequest" message="tns:deleteInventoryById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/InventoryEndPoint/deleteInventoryByIdResponse" message="tns:deleteInventoryByIdResponse"/>
    </operation>
    <operation name="getInventoryById">
      <input wsam:Action="http://api.sakilaapi.iti.com/InventoryEndPoint/getInventoryByIdRequest" message="tns:getInventoryById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/InventoryEndPoint/getInventoryByIdResponse" message="tns:getInventoryByIdResponse"/>
    </operation>
    <operation name="getAllInventory">
      <input wsam:Action="http://api.sakilaapi.iti.com/InventoryEndPoint/getAllInventoryRequest" message="tns:getAllInventory"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/InventoryEndPoint/getAllInventoryResponse" message="tns:getAllInventoryResponse"/>
    </operation>
    <operation name="updateExistingInventory">
      <input wsam:Action="http://api.sakilaapi.iti.com/InventoryEndPoint/updateExistingInventoryRequest" message="tns:updateExistingInventory"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/InventoryEndPoint/updateExistingInventoryResponse" message="tns:updateExistingInventoryResponse"/>
    </operation>
    <operation name="createNewInventory">
      <input wsam:Action="http://api.sakilaapi.iti.com/InventoryEndPoint/createNewInventoryRequest" message="tns:createNewInventory"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/InventoryEndPoint/createNewInventoryResponse" message="tns:createNewInventoryResponse"/>
    </operation>
  </portType>
  <binding name="InventoryEndPointPortBinding" type="tns:InventoryEndPoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="deleteInventoryById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getInventoryById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllInventory">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateExistingInventory">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createNewInventory">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="InventoryEndPointService">
    <port name="InventoryEndPointPort" binding="tns:InventoryEndPointPortBinding">
      <soap:address location="http://localhost:8080/sakila-api/ws/inventory"/>
    </port>
  </service>
</definitions>