Documentation-SOAPUI/City/city_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><!--Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><definitions targetNamespace="http://api.sakilaapi.iti.com/" name="CityEndpointService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.sakilaapi.iti.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://api.sakilaapi.iti.com/" schemaLocation="city.xsd"/>
    </xsd:schema>
  </types>
  <message name="updateCity">
    <part name="parameters" element="tns:updateCity"/>
  </message>
  <message name="updateCityResponse">
    <part name="parameters" element="tns:updateCityResponse"/>
  </message>
  <message name="getCityById">
    <part name="parameters" element="tns:getCityById"/>
  </message>
  <message name="getCityByIdResponse">
    <part name="parameters" element="tns:getCityByIdResponse"/>
  </message>
  <message name="getAllCity">
    <part name="parameters" element="tns:getAllCity"/>
  </message>
  <message name="getAllCityResponse">
    <part name="parameters" element="tns:getAllCityResponse"/>
  </message>
  <message name="deleteCityById">
    <part name="parameters" element="tns:deleteCityById"/>
  </message>
  <message name="deleteCityByIdResponse">
    <part name="parameters" element="tns:deleteCityByIdResponse"/>
  </message>
  <message name="createCity">
    <part name="parameters" element="tns:createCity"/>
  </message>
  <message name="createCityResponse">
    <part name="parameters" element="tns:createCityResponse"/>
  </message>
  <portType name="CityEndpoint">
    <operation name="updateCity">
      <input wsam:Action="http://api.sakilaapi.iti.com/CityEndpoint/updateCityRequest" message="tns:updateCity"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/CityEndpoint/updateCityResponse" message="tns:updateCityResponse"/>
    </operation>
    <operation name="getCityById">
      <input wsam:Action="http://api.sakilaapi.iti.com/CityEndpoint/getCityByIdRequest" message="tns:getCityById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/CityEndpoint/getCityByIdResponse" message="tns:getCityByIdResponse"/>
    </operation>
    <operation name="getAllCity">
      <input wsam:Action="http://api.sakilaapi.iti.com/CityEndpoint/getAllCityRequest" message="tns:getAllCity"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/CityEndpoint/getAllCityResponse" message="tns:getAllCityResponse"/>
    </operation>
    <operation name="deleteCityById">
      <input wsam:Action="http://api.sakilaapi.iti.com/CityEndpoint/deleteCityByIdRequest" message="tns:deleteCityById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/CityEndpoint/deleteCityByIdResponse" message="tns:deleteCityByIdResponse"/>
    </operation>
    <operation name="createCity">
      <input wsam:Action="http://api.sakilaapi.iti.com/CityEndpoint/createCityRequest" message="tns:createCity"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/CityEndpoint/createCityResponse" message="tns:createCityResponse"/>
    </operation>
  </portType>
  <binding name="CityEndpointPortBinding" type="tns:CityEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="updateCity">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCityById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllCity">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteCityById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createCity">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CityEndpointService">
    <port name="CityEndpointPort" binding="tns:CityEndpointPortBinding">
      <soap:address location="http://localhost:8080/sakila-api/ws/city"/>
    </port>
  </service>
</definitions>