Documentation-SOAPUI/Rental/rental_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><!--Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><definitions targetNamespace="http://api.sakilaapi.iti.com/" name="RentalEndPointService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.sakilaapi.iti.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://api.sakilaapi.iti.com/" schemaLocation="rental.xsd"/>
    </xsd:schema>
  </types>
  <message name="updateExistingRental">
    <part name="parameters" element="tns:updateExistingRental"/>
  </message>
  <message name="updateExistingRentalResponse">
    <part name="parameters" element="tns:updateExistingRentalResponse"/>
  </message>
  <message name="getAllRental">
    <part name="parameters" element="tns:getAllRental"/>
  </message>
  <message name="getAllRentalResponse">
    <part name="parameters" element="tns:getAllRentalResponse"/>
  </message>
  <message name="getRentalById">
    <part name="parameters" element="tns:getRentalById"/>
  </message>
  <message name="getRentalByIdResponse">
    <part name="parameters" element="tns:getRentalByIdResponse"/>
  </message>
  <message name="createNewRental">
    <part name="parameters" element="tns:createNewRental"/>
  </message>
  <message name="createNewRentalResponse">
    <part name="parameters" element="tns:createNewRentalResponse"/>
  </message>
  <message name="deleteRentalById">
    <part name="parameters" element="tns:deleteRentalById"/>
  </message>
  <message name="deleteRentalByIdResponse">
    <part name="parameters" element="tns:deleteRentalByIdResponse"/>
  </message>
  <portType name="RentalEndPoint">
    <operation name="updateExistingRental">
      <input wsam:Action="http://api.sakilaapi.iti.com/RentalEndPoint/updateExistingRentalRequest" message="tns:updateExistingRental"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/RentalEndPoint/updateExistingRentalResponse" message="tns:updateExistingRentalResponse"/>
    </operation>
    <operation name="getAllRental">
      <input wsam:Action="http://api.sakilaapi.iti.com/RentalEndPoint/getAllRentalRequest" message="tns:getAllRental"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/RentalEndPoint/getAllRentalResponse" message="tns:getAllRentalResponse"/>
    </operation>
    <operation name="getRentalById">
      <input wsam:Action="http://api.sakilaapi.iti.com/RentalEndPoint/getRentalByIdRequest" message="tns:getRentalById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/RentalEndPoint/getRentalByIdResponse" message="tns:getRentalByIdResponse"/>
    </operation>
    <operation name="createNewRental">
      <input wsam:Action="http://api.sakilaapi.iti.com/RentalEndPoint/createNewRentalRequest" message="tns:createNewRental"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/RentalEndPoint/createNewRentalResponse" message="tns:createNewRentalResponse"/>
    </operation>
    <operation name="deleteRentalById">
      <input wsam:Action="http://api.sakilaapi.iti.com/RentalEndPoint/deleteRentalByIdRequest" message="tns:deleteRentalById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/RentalEndPoint/deleteRentalByIdResponse" message="tns:deleteRentalByIdResponse"/>
    </operation>
  </portType>
  <binding name="RentalEndPointPortBinding" type="tns:RentalEndPoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="updateExistingRental">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllRental">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getRentalById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createNewRental">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteRentalById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="RentalEndPointService">
    <port name="RentalEndPointPort" binding="tns:RentalEndPointPortBinding">
      <soap:address location="http://localhost:8080/sakila-api/ws/rental"/>
    </port>
  </service>
</definitions>