Documentation-SOAPUI/Actor/actor_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><!--Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><definitions targetNamespace="http://api.sakilaapi.iti.com/" name="ActorEndpointService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.sakilaapi.iti.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://api.sakilaapi.iti.com/" schemaLocation="actor.xsd"/>
    </xsd:schema>
  </types>
  <message name="updateExistingActor">
    <part name="parameters" element="tns:updateExistingActor"/>
  </message>
  <message name="updateExistingActorResponse">
    <part name="parameters" element="tns:updateExistingActorResponse"/>
  </message>
  <message name="getAllActors">
    <part name="parameters" element="tns:getAllActors"/>
  </message>
  <message name="getAllActorsResponse">
    <part name="parameters" element="tns:getAllActorsResponse"/>
  </message>
  <message name="createNewActor">
    <part name="parameters" element="tns:createNewActor"/>
  </message>
  <message name="createNewActorResponse">
    <part name="parameters" element="tns:createNewActorResponse"/>
  </message>
  <message name="deleteActorById">
    <part name="parameters" element="tns:deleteActorById"/>
  </message>
  <message name="deleteActorByIdResponse">
    <part name="parameters" element="tns:deleteActorByIdResponse"/>
  </message>
  <message name="getActorById">
    <part name="parameters" element="tns:getActorById"/>
  </message>
  <message name="getActorByIdResponse">
    <part name="parameters" element="tns:getActorByIdResponse"/>
  </message>
  <portType name="ActorEndpoint">
    <operation name="updateExistingActor">
      <input wsam:Action="http://api.sakilaapi.iti.com/ActorEndpoint/updateExistingActorRequest" message="tns:updateExistingActor"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/ActorEndpoint/updateExistingActorResponse" message="tns:updateExistingActorResponse"/>
    </operation>
    <operation name="getAllActors">
      <input wsam:Action="http://api.sakilaapi.iti.com/ActorEndpoint/getAllActorsRequest" message="tns:getAllActors"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/ActorEndpoint/getAllActorsResponse" message="tns:getAllActorsResponse"/>
    </operation>
    <operation name="createNewActor">
      <input wsam:Action="http://api.sakilaapi.iti.com/ActorEndpoint/createNewActorRequest" message="tns:createNewActor"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/ActorEndpoint/createNewActorResponse" message="tns:createNewActorResponse"/>
    </operation>
    <operation name="deleteActorById">
      <input wsam:Action="http://api.sakilaapi.iti.com/ActorEndpoint/deleteActorByIdRequest" message="tns:deleteActorById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/ActorEndpoint/deleteActorByIdResponse" message="tns:deleteActorByIdResponse"/>
    </operation>
    <operation name="getActorById">
      <input wsam:Action="http://api.sakilaapi.iti.com/ActorEndpoint/getActorByIdRequest" message="tns:getActorById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/ActorEndpoint/getActorByIdResponse" message="tns:getActorByIdResponse"/>
    </operation>
  </portType>
  <binding name="ActorEndpointPortBinding" type="tns:ActorEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="updateExistingActor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllActors">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createNewActor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteActorById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getActorById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ActorEndpointService">
    <port name="ActorEndpointPort" binding="tns:ActorEndpointPortBinding">
      <soap:address location="http://localhost:8080/sakila-api/ws/actor"/>
    </port>
  </service>
</definitions>