Documentation-SOAPUI/Staff/staff_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><!--Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><definitions targetNamespace="http://api.sakilaapi.iti.com/" name="StaffEndPointService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.sakilaapi.iti.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://api.sakilaapi.iti.com/" schemaLocation="staff.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAllStaff">
    <part name="parameters" element="tns:getAllStaff"/>
  </message>
  <message name="getAllStaffResponse">
    <part name="parameters" element="tns:getAllStaffResponse"/>
  </message>
  <message name="createNewStaff">
    <part name="parameters" element="tns:createNewStaff"/>
  </message>
  <message name="createNewStaffResponse">
    <part name="parameters" element="tns:createNewStaffResponse"/>
  </message>
  <message name="getStaffById">
    <part name="parameters" element="tns:getStaffById"/>
  </message>
  <message name="getStaffByIdResponse">
    <part name="parameters" element="tns:getStaffByIdResponse"/>
  </message>
  <message name="updateExistingStaff">
    <part name="parameters" element="tns:updateExistingStaff"/>
  </message>
  <message name="updateExistingStaffResponse">
    <part name="parameters" element="tns:updateExistingStaffResponse"/>
  </message>
  <message name="deleteStaffById">
    <part name="parameters" element="tns:deleteStaffById"/>
  </message>
  <message name="deleteStaffByIdResponse">
    <part name="parameters" element="tns:deleteStaffByIdResponse"/>
  </message>
  <portType name="StaffEndPoint">
    <operation name="getAllStaff">
      <input wsam:Action="http://api.sakilaapi.iti.com/StaffEndPoint/getAllStaffRequest" message="tns:getAllStaff"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/StaffEndPoint/getAllStaffResponse" message="tns:getAllStaffResponse"/>
    </operation>
    <operation name="createNewStaff">
      <input wsam:Action="http://api.sakilaapi.iti.com/StaffEndPoint/createNewStaffRequest" message="tns:createNewStaff"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/StaffEndPoint/createNewStaffResponse" message="tns:createNewStaffResponse"/>
    </operation>
    <operation name="getStaffById">
      <input wsam:Action="http://api.sakilaapi.iti.com/StaffEndPoint/getStaffByIdRequest" message="tns:getStaffById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/StaffEndPoint/getStaffByIdResponse" message="tns:getStaffByIdResponse"/>
    </operation>
    <operation name="updateExistingStaff">
      <input wsam:Action="http://api.sakilaapi.iti.com/StaffEndPoint/updateExistingStaffRequest" message="tns:updateExistingStaff"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/StaffEndPoint/updateExistingStaffResponse" message="tns:updateExistingStaffResponse"/>
    </operation>
    <operation name="deleteStaffById">
      <input wsam:Action="http://api.sakilaapi.iti.com/StaffEndPoint/deleteStaffByIdRequest" message="tns:deleteStaffById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/StaffEndPoint/deleteStaffByIdResponse" message="tns:deleteStaffByIdResponse"/>
    </operation>
  </portType>
  <binding name="StaffEndPointPortBinding" type="tns:StaffEndPoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getAllStaff">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createNewStaff">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getStaffById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateExistingStaff">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteStaffById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="StaffEndPointService">
    <port name="StaffEndPointPort" binding="tns:StaffEndPointPortBinding">
      <soap:address location="http://localhost:8080/sakila-api/ws/staff"/>
    </port>
  </service>
</definitions>