Documentation-SOAPUI/Film/film_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><!--Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><definitions targetNamespace="http://api.sakilaapi.iti.com/" name="FilmEndPointService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.sakilaapi.iti.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://api.sakilaapi.iti.com/" schemaLocation="film.xsd"/>
    </xsd:schema>
  </types>
  <message name="createNewFilm">
    <part name="parameters" element="tns:createNewFilm"/>
  </message>
  <message name="createNewFilmResponse">
    <part name="parameters" element="tns:createNewFilmResponse"/>
  </message>
  <message name="getAllFilm">
    <part name="parameters" element="tns:getAllFilm"/>
  </message>
  <message name="getAllFilmResponse">
    <part name="parameters" element="tns:getAllFilmResponse"/>
  </message>
  <message name="getFilmById">
    <part name="parameters" element="tns:getFilmById"/>
  </message>
  <message name="getFilmByIdResponse">
    <part name="parameters" element="tns:getFilmByIdResponse"/>
  </message>
  <message name="updateExistingFilm">
    <part name="parameters" element="tns:updateExistingFilm"/>
  </message>
  <message name="updateExistingFilmResponse">
    <part name="parameters" element="tns:updateExistingFilmResponse"/>
  </message>
  <message name="deleteFilmById">
    <part name="parameters" element="tns:deleteFilmById"/>
  </message>
  <message name="deleteFilmByIdResponse">
    <part name="parameters" element="tns:deleteFilmByIdResponse"/>
  </message>
  <portType name="FilmEndPoint">
    <operation name="createNewFilm">
      <input wsam:Action="http://api.sakilaapi.iti.com/FilmEndPoint/createNewFilmRequest" message="tns:createNewFilm"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/FilmEndPoint/createNewFilmResponse" message="tns:createNewFilmResponse"/>
    </operation>
    <operation name="getAllFilm">
      <input wsam:Action="http://api.sakilaapi.iti.com/FilmEndPoint/getAllFilmRequest" message="tns:getAllFilm"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/FilmEndPoint/getAllFilmResponse" message="tns:getAllFilmResponse"/>
    </operation>
    <operation name="getFilmById">
      <input wsam:Action="http://api.sakilaapi.iti.com/FilmEndPoint/getFilmByIdRequest" message="tns:getFilmById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/FilmEndPoint/getFilmByIdResponse" message="tns:getFilmByIdResponse"/>
    </operation>
    <operation name="updateExistingFilm">
      <input wsam:Action="http://api.sakilaapi.iti.com/FilmEndPoint/updateExistingFilmRequest" message="tns:updateExistingFilm"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/FilmEndPoint/updateExistingFilmResponse" message="tns:updateExistingFilmResponse"/>
    </operation>
    <operation name="deleteFilmById">
      <input wsam:Action="http://api.sakilaapi.iti.com/FilmEndPoint/deleteFilmByIdRequest" message="tns:deleteFilmById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/FilmEndPoint/deleteFilmByIdResponse" message="tns:deleteFilmByIdResponse"/>
    </operation>
  </portType>
  <binding name="FilmEndPointPortBinding" type="tns:FilmEndPoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createNewFilm">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllFilm">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getFilmById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateExistingFilm">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteFilmById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="FilmEndPointService">
    <port name="FilmEndPointPort" binding="tns:FilmEndPointPortBinding">
      <soap:address location="http://localhost:8080/sakila-api/ws/film"/>
    </port>
  </service>
</definitions>