Documentation-SOAPUI/Customer/customer_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><!--Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><definitions targetNamespace="http://api.sakilaapi.iti.com/" name="CustomerEndpointService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.sakilaapi.iti.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://api.sakilaapi.iti.com/" schemaLocation="customer.xsd"/>
    </xsd:schema>
  </types>
  <message name="getCustomerById">
    <part name="parameters" element="tns:getCustomerById"/>
  </message>
  <message name="getCustomerByIdResponse">
    <part name="parameters" element="tns:getCustomerByIdResponse"/>
  </message>
  <message name="createCustomer">
    <part name="parameters" element="tns:createCustomer"/>
  </message>
  <message name="createCustomerResponse">
    <part name="parameters" element="tns:createCustomerResponse"/>
  </message>
  <message name="getAllCustomer">
    <part name="parameters" element="tns:getAllCustomer"/>
  </message>
  <message name="getAllCustomerResponse">
    <part name="parameters" element="tns:getAllCustomerResponse"/>
  </message>
  <message name="updateCustomer">
    <part name="parameters" element="tns:updateCustomer"/>
  </message>
  <message name="updateCustomerResponse">
    <part name="parameters" element="tns:updateCustomerResponse"/>
  </message>
  <message name="deleteCustomerById">
    <part name="parameters" element="tns:deleteCustomerById"/>
  </message>
  <message name="deleteCustomerByIdResponse">
    <part name="parameters" element="tns:deleteCustomerByIdResponse"/>
  </message>
  <portType name="CustomerEndpoint">
    <operation name="getCustomerById">
      <input wsam:Action="http://api.sakilaapi.iti.com/CustomerEndpoint/getCustomerByIdRequest" message="tns:getCustomerById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/CustomerEndpoint/getCustomerByIdResponse" message="tns:getCustomerByIdResponse"/>
    </operation>
    <operation name="createCustomer">
      <input wsam:Action="http://api.sakilaapi.iti.com/CustomerEndpoint/createCustomerRequest" message="tns:createCustomer"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/CustomerEndpoint/createCustomerResponse" message="tns:createCustomerResponse"/>
    </operation>
    <operation name="getAllCustomer">
      <input wsam:Action="http://api.sakilaapi.iti.com/CustomerEndpoint/getAllCustomerRequest" message="tns:getAllCustomer"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/CustomerEndpoint/getAllCustomerResponse" message="tns:getAllCustomerResponse"/>
    </operation>
    <operation name="updateCustomer">
      <input wsam:Action="http://api.sakilaapi.iti.com/CustomerEndpoint/updateCustomerRequest" message="tns:updateCustomer"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/CustomerEndpoint/updateCustomerResponse" message="tns:updateCustomerResponse"/>
    </operation>
    <operation name="deleteCustomerById">
      <input wsam:Action="http://api.sakilaapi.iti.com/CustomerEndpoint/deleteCustomerByIdRequest" message="tns:deleteCustomerById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/CustomerEndpoint/deleteCustomerByIdResponse" message="tns:deleteCustomerByIdResponse"/>
    </operation>
  </portType>
  <binding name="CustomerEndpointPortBinding" type="tns:CustomerEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getCustomerById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteCustomerById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CustomerEndpointService">
    <port name="CustomerEndpointPort" binding="tns:CustomerEndpointPortBinding">
      <soap:address location="http://localhost:8080/sakila-api/ws/customer"/>
    </port>
  </service>
</definitions>