Documentation-SOAPUI/Country/country_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><!--Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><definitions targetNamespace="http://api.sakilaapi.iti.com/" name="CountryEndpointService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.sakilaapi.iti.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://api.sakilaapi.iti.com/" schemaLocation="country.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAllCountry">
    <part name="parameters" element="tns:getAllCountry"/>
  </message>
  <message name="getAllCountryResponse">
    <part name="parameters" element="tns:getAllCountryResponse"/>
  </message>
  <message name="createCountry">
    <part name="parameters" element="tns:createCountry"/>
  </message>
  <message name="createCountryResponse">
    <part name="parameters" element="tns:createCountryResponse"/>
  </message>
  <message name="deleteCountryById">
    <part name="parameters" element="tns:deleteCountryById"/>
  </message>
  <message name="deleteCountryByIdResponse">
    <part name="parameters" element="tns:deleteCountryByIdResponse"/>
  </message>
  <message name="getCountryById">
    <part name="parameters" element="tns:getCountryById"/>
  </message>
  <message name="getCountryByIdResponse">
    <part name="parameters" element="tns:getCountryByIdResponse"/>
  </message>
  <message name="updateCountry">
    <part name="parameters" element="tns:updateCountry"/>
  </message>
  <message name="updateCountryResponse">
    <part name="parameters" element="tns:updateCountryResponse"/>
  </message>
  <portType name="CountryEndpoint">
    <operation name="getAllCountry">
      <input wsam:Action="http://api.sakilaapi.iti.com/CountryEndpoint/getAllCountryRequest" message="tns:getAllCountry"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/CountryEndpoint/getAllCountryResponse" message="tns:getAllCountryResponse"/>
    </operation>
    <operation name="createCountry">
      <input wsam:Action="http://api.sakilaapi.iti.com/CountryEndpoint/createCountryRequest" message="tns:createCountry"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/CountryEndpoint/createCountryResponse" message="tns:createCountryResponse"/>
    </operation>
    <operation name="deleteCountryById">
      <input wsam:Action="http://api.sakilaapi.iti.com/CountryEndpoint/deleteCountryByIdRequest" message="tns:deleteCountryById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/CountryEndpoint/deleteCountryByIdResponse" message="tns:deleteCountryByIdResponse"/>
    </operation>
    <operation name="getCountryById">
      <input wsam:Action="http://api.sakilaapi.iti.com/CountryEndpoint/getCountryByIdRequest" message="tns:getCountryById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/CountryEndpoint/getCountryByIdResponse" message="tns:getCountryByIdResponse"/>
    </operation>
    <operation name="updateCountry">
      <input wsam:Action="http://api.sakilaapi.iti.com/CountryEndpoint/updateCountryRequest" message="tns:updateCountry"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/CountryEndpoint/updateCountryResponse" message="tns:updateCountryResponse"/>
    </operation>
  </portType>
  <binding name="CountryEndpointPortBinding" type="tns:CountryEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getAllCountry">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createCountry">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteCountryById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCountryById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateCountry">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CountryEndpointService">
    <port name="CountryEndpointPort" binding="tns:CountryEndpointPortBinding">
      <soap:address location="http://localhost:8080/sakila-api/ws/country"/>
    </port>
  </service>
</definitions>