Documentation-SOAPUI/Film Text/film_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><!--Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><definitions targetNamespace="http://api.sakilaapi.iti.com/" name="FilmTextEndpointService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.sakilaapi.iti.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://api.sakilaapi.iti.com/" schemaLocation="film_text.xsd"/>
    </xsd:schema>
  </types>
  <message name="deleteFilmTextById">
    <part name="parameters" element="tns:deleteFilmTextById"/>
  </message>
  <message name="deleteFilmTextByIdResponse">
    <part name="parameters" element="tns:deleteFilmTextByIdResponse"/>
  </message>
  <message name="createFilmText">
    <part name="parameters" element="tns:createFilmText"/>
  </message>
  <message name="createFilmTextResponse">
    <part name="parameters" element="tns:createFilmTextResponse"/>
  </message>
  <message name="updateFilmText">
    <part name="parameters" element="tns:updateFilmText"/>
  </message>
  <message name="updateFilmTextResponse">
    <part name="parameters" element="tns:updateFilmTextResponse"/>
  </message>
  <message name="getFilmTextById">
    <part name="parameters" element="tns:getFilmTextById"/>
  </message>
  <message name="getFilmTextByIdResponse">
    <part name="parameters" element="tns:getFilmTextByIdResponse"/>
  </message>
  <message name="getAllFilmText">
    <part name="parameters" element="tns:getAllFilmText"/>
  </message>
  <message name="getAllFilmTextResponse">
    <part name="parameters" element="tns:getAllFilmTextResponse"/>
  </message>
  <portType name="FilmTextEndpoint">
    <operation name="deleteFilmTextById">
      <input wsam:Action="http://api.sakilaapi.iti.com/FilmTextEndpoint/deleteFilmTextByIdRequest" message="tns:deleteFilmTextById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/FilmTextEndpoint/deleteFilmTextByIdResponse" message="tns:deleteFilmTextByIdResponse"/>
    </operation>
    <operation name="createFilmText">
      <input wsam:Action="http://api.sakilaapi.iti.com/FilmTextEndpoint/createFilmTextRequest" message="tns:createFilmText"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/FilmTextEndpoint/createFilmTextResponse" message="tns:createFilmTextResponse"/>
    </operation>
    <operation name="updateFilmText">
      <input wsam:Action="http://api.sakilaapi.iti.com/FilmTextEndpoint/updateFilmTextRequest" message="tns:updateFilmText"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/FilmTextEndpoint/updateFilmTextResponse" message="tns:updateFilmTextResponse"/>
    </operation>
    <operation name="getFilmTextById">
      <input wsam:Action="http://api.sakilaapi.iti.com/FilmTextEndpoint/getFilmTextByIdRequest" message="tns:getFilmTextById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/FilmTextEndpoint/getFilmTextByIdResponse" message="tns:getFilmTextByIdResponse"/>
    </operation>
    <operation name="getAllFilmText">
      <input wsam:Action="http://api.sakilaapi.iti.com/FilmTextEndpoint/getAllFilmTextRequest" message="tns:getAllFilmText"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/FilmTextEndpoint/getAllFilmTextResponse" message="tns:getAllFilmTextResponse"/>
    </operation>
  </portType>
  <binding name="FilmTextEndpointPortBinding" type="tns:FilmTextEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="deleteFilmTextById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createFilmText">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateFilmText">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getFilmTextById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllFilmText">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="FilmTextEndpointService">
    <port name="FilmTextEndpointPort" binding="tns:FilmTextEndpointPortBinding">
      <soap:address location="http://localhost:8080/sakila-api/ws/film_text"/>
    </port>
  </service>
</definitions>