Documentation-SOAPUI/Category/category_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><!--Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><definitions targetNamespace="http://api.sakilaapi.iti.com/" name="CategoryEndpointService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.sakilaapi.iti.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://api.sakilaapi.iti.com/" schemaLocation="category.xsd"/>
    </xsd:schema>
  </types>
  <message name="updateCategory">
    <part name="parameters" element="tns:updateCategory"/>
  </message>
  <message name="updateCategoryResponse">
    <part name="parameters" element="tns:updateCategoryResponse"/>
  </message>
  <message name="createCategory">
    <part name="parameters" element="tns:createCategory"/>
  </message>
  <message name="createCategoryResponse">
    <part name="parameters" element="tns:createCategoryResponse"/>
  </message>
  <message name="getAllCategory">
    <part name="parameters" element="tns:getAllCategory"/>
  </message>
  <message name="getAllCategoryResponse">
    <part name="parameters" element="tns:getAllCategoryResponse"/>
  </message>
  <message name="deleteCategoryById">
    <part name="parameters" element="tns:deleteCategoryById"/>
  </message>
  <message name="deleteCategoryByIdResponse">
    <part name="parameters" element="tns:deleteCategoryByIdResponse"/>
  </message>
  <message name="getCategoryById">
    <part name="parameters" element="tns:getCategoryById"/>
  </message>
  <message name="getCategoryByIdResponse">
    <part name="parameters" element="tns:getCategoryByIdResponse"/>
  </message>
  <portType name="CategoryEndpoint">
    <operation name="updateCategory">
      <input wsam:Action="http://api.sakilaapi.iti.com/CategoryEndpoint/updateCategoryRequest" message="tns:updateCategory"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/CategoryEndpoint/updateCategoryResponse" message="tns:updateCategoryResponse"/>
    </operation>
    <operation name="createCategory">
      <input wsam:Action="http://api.sakilaapi.iti.com/CategoryEndpoint/createCategoryRequest" message="tns:createCategory"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/CategoryEndpoint/createCategoryResponse" message="tns:createCategoryResponse"/>
    </operation>
    <operation name="getAllCategory">
      <input wsam:Action="http://api.sakilaapi.iti.com/CategoryEndpoint/getAllCategoryRequest" message="tns:getAllCategory"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/CategoryEndpoint/getAllCategoryResponse" message="tns:getAllCategoryResponse"/>
    </operation>
    <operation name="deleteCategoryById">
      <input wsam:Action="http://api.sakilaapi.iti.com/CategoryEndpoint/deleteCategoryByIdRequest" message="tns:deleteCategoryById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/CategoryEndpoint/deleteCategoryByIdResponse" message="tns:deleteCategoryByIdResponse"/>
    </operation>
    <operation name="getCategoryById">
      <input wsam:Action="http://api.sakilaapi.iti.com/CategoryEndpoint/getCategoryByIdRequest" message="tns:getCategoryById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/CategoryEndpoint/getCategoryByIdResponse" message="tns:getCategoryByIdResponse"/>
    </operation>
  </portType>
  <binding name="CategoryEndpointPortBinding" type="tns:CategoryEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="updateCategory">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createCategory">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllCategory">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteCategoryById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCategoryById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CategoryEndpointService">
    <port name="CategoryEndpointPort" binding="tns:CategoryEndpointPortBinding">
      <soap:address location="http://localhost:8080/sakila-api/ws/category"/>
    </port>
  </service>
</definitions>