Documentation-SOAPUI/Store/store_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><!--Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e.--><definitions targetNamespace="http://api.sakilaapi.iti.com/" name="StoreEndPointService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.sakilaapi.iti.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://api.sakilaapi.iti.com/" schemaLocation="store.xsd"/>
    </xsd:schema>
  </types>
  <message name="createNewStore">
    <part name="parameters" element="tns:createNewStore"/>
  </message>
  <message name="createNewStoreResponse">
    <part name="parameters" element="tns:createNewStoreResponse"/>
  </message>
  <message name="getAllStore">
    <part name="parameters" element="tns:getAllStore"/>
  </message>
  <message name="getAllStoreResponse">
    <part name="parameters" element="tns:getAllStoreResponse"/>
  </message>
  <message name="updateExistingStore">
    <part name="parameters" element="tns:updateExistingStore"/>
  </message>
  <message name="updateExistingStoreResponse">
    <part name="parameters" element="tns:updateExistingStoreResponse"/>
  </message>
  <message name="deleteStoreById">
    <part name="parameters" element="tns:deleteStoreById"/>
  </message>
  <message name="deleteStoreByIdResponse">
    <part name="parameters" element="tns:deleteStoreByIdResponse"/>
  </message>
  <message name="getStoreById">
    <part name="parameters" element="tns:getStoreById"/>
  </message>
  <message name="getStoreByIdResponse">
    <part name="parameters" element="tns:getStoreByIdResponse"/>
  </message>
  <portType name="StoreEndPoint">
    <operation name="createNewStore">
      <input wsam:Action="http://api.sakilaapi.iti.com/StoreEndPoint/createNewStoreRequest" message="tns:createNewStore"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/StoreEndPoint/createNewStoreResponse" message="tns:createNewStoreResponse"/>
    </operation>
    <operation name="getAllStore">
      <input wsam:Action="http://api.sakilaapi.iti.com/StoreEndPoint/getAllStoreRequest" message="tns:getAllStore"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/StoreEndPoint/getAllStoreResponse" message="tns:getAllStoreResponse"/>
    </operation>
    <operation name="updateExistingStore">
      <input wsam:Action="http://api.sakilaapi.iti.com/StoreEndPoint/updateExistingStoreRequest" message="tns:updateExistingStore"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/StoreEndPoint/updateExistingStoreResponse" message="tns:updateExistingStoreResponse"/>
    </operation>
    <operation name="deleteStoreById">
      <input wsam:Action="http://api.sakilaapi.iti.com/StoreEndPoint/deleteStoreByIdRequest" message="tns:deleteStoreById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/StoreEndPoint/deleteStoreByIdResponse" message="tns:deleteStoreByIdResponse"/>
    </operation>
    <operation name="getStoreById">
      <input wsam:Action="http://api.sakilaapi.iti.com/StoreEndPoint/getStoreByIdRequest" message="tns:getStoreById"/>
      <output wsam:Action="http://api.sakilaapi.iti.com/StoreEndPoint/getStoreByIdResponse" message="tns:getStoreByIdResponse"/>
    </operation>
  </portType>
  <binding name="StoreEndPointPortBinding" type="tns:StoreEndPoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createNewStore">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllStore">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateExistingStore">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteStoreById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getStoreById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="StoreEndPointService">
    <port name="StoreEndPointPort" binding="tns:StoreEndPointPortBinding">
      <soap:address location="http://localhost:8080/sakila-api/ws/store"/>
    </port>
  </service>
</definitions>